.container {
    background-color: rgb(219, 219, 206);
    width: 235px;
    padding: 3px;
    margin: 5px;
}

.display {
    background-color: whitesmoke;
    height: 50px;
    margin: 5px;
    color: black;
    border: solid black 2px;
    text-align: end;
    font-size: x-large;
    padding-right: 15px;
    line-height: 50px;
}

.botones,
.borrar {
    background-color: #ccc;
    margin: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid black 2px;

}

table {
    text-align: center;
}

#igual {
    background-color: rgb(126, 20, 41);
    color: white;
}

td div {
    line-height: 30px;
}